<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <title>PiCL Flow Test</title>
 <link rel="stylesheet" href="/static/main.css" />
 <script type="text/javascript" src="/static/jquery-2.0.0.min.js"></script>
 <script type="text/javascript" src="/static/main.js"></script>
</head>

<body>
<h1>PICL Flow Demo</h1>

<script>
var sessionID = {{ sessionID }};
</script>

<div id="dialog"></div>

<div id="sidechannel-container">
  <center>Side Channel</center>
  <div id="sidechannel"></div>
</div>

<div id="notes-container">
  <center>Implementor Notes</center>
  <div id="notes"></div>
  <p>Current Accounts:</p>
  <div id="all-accounts"></div>
</div>

<!-- templates -->
<div id="templates" class="hidden">
  <div class="t1-get-email">
    <center><h2>Welcome To PICL</h2></center>
    <p>Enter your email address to get started.</p>
    <span>Email: </span><input type="text" name="email" class="email focus"></input>
    <input type="button" class="go" value="Go!"></input>
  </div>
  <div class="notes-t1-get-email">
  </div>

  <div class="t2-get-password">
    <center><h2>Welcome Back</h2></center>
    <p>Please enter your password to connect this device to your account</p>
    <span>Password: </span><input type="password" class="password focus"></input>
    <input type="button" class="go" value="Go!"></input>
    <p>Or use one of these:</p>
    <input type="button" class="hate" value="I Hate Passwords"></input>
  </div>
  <div class="notes-t2-get-password">
  </div>

  <div class="t3-create-account">
    <center><h2>Create Account</h2></center>
    <p>It looks like you don't have an account yet.</p>
    <p>Please create a PICL password</p>
    <span>Password: </span><input type="text" class="password focus"></input>
    <input type="button" class="go" value="Go!"></input>
    <p>We can also generate a random password for you:</p>
    <input type="button" class="generated-password" value="Generate Password"></input>
  </div>

  <div class="t4-password-good">
    <center><h2>Device Attached</h2></center>
    <p>Good password! This device is now attached to your PICL account. Data will begin syncing momentarily.</p>
    <p>Time to be happy!</p>
  </div>

  <div class="t4a-account-created">
    <center><h2>Account Created</h2></center>
    <p>We've created an account for you! This device is now attached to your PICL account. Data will begin syncing momentarily.</p>
    <p>Time to be happy!</p>
  </div>

  <div class="t5-password-wrong">
    <center><h2>Rats, Wrong Password!</h2></center>
    <p>It looks like that password was wrong. Don't you hate passwords?</p>
    <!-- we will rate-limit the number of attempts. When this is in force,
    the button will be gray and a countdown timer will be shown until the block expires. The server enforces the limit, of course, but the client helps prevent surprises by stalling until it knows the limit has expired. -->
    <input type="button" class="again focus" value="Try again!"></input>
  </div>

  <div class="t7-hate-password">
    <center><h2>I HATE PASSWORDS</h2></center>
    <p>We do too.</p>
    <p>If you have other devices attached to your account, you can use them to attach this one, without using passwords at all.
    <input type="button" class="pair" value="Use Another Device"></input></p>
    <p>If you don't know your password, you can reset your account and establish a new password. This will delete all the class-B data on the server, though. <input type="button" class="reset" value="Reset Account"></input></p>
  </div>

  <div class="t8-reset-account-start">
    <center><h2>Reset Account 1</h2></center>
    <p>To reset your account, you'll need to verify your email.</p>
    <p>We just sent an email to &quot;<span class="email"></span>&quot;. Inside it, you'll find a number. Please paste in that number here:</p>
    <div class="code-input">
      <span>Code: </span><input type="text" name="code" class="code focus"></input>
      <input type="button" class="go" value="Go!"></input>
    </div>
  </div>
  <div class="side-t8-reset-account">
    <p>pretend you just got an email with the code:</p>
    <p><span class="show-code" /></p>
  </div>

  <div class="t8a-reset-account-bad-code">
    <center><h2>Bad Code</h2></center>
    <p>It looks like that code was wrong. Don't you hate codes?</p>
    <p>Let's try again.</p>
    <!-- we will rate-limit the number of attempts. When this is in force,
    the button will be gray and a countdown timer will be shown until the block expires. The server enforces the limit, of course, but the client helps prevent surprises by stalling until it knows the limit has expired. -->
    <input type="button" class="again" value="Try again!"></input>
  </div>

  <div class="t9-reset-account-set-password">
    <center><h2>Reset Account 2</h2></center>
    <p>Now that you've verified your email, please choose a new PICL password:</p>
    <span>Password: </span><input type="password" class="password focus"></input>
    <input type="button" class="go" value="Go!"></input>
    <p>We can also generate a random password for you:</p>
    <input type="button" class="generated-password" value="Generate Password"></input>
  </div>

  <div class="t10-reset-account-commit">
    <center><h2>Reset Account 3</h2></center>
    <p>To confirm that you really want to reset the account (and delete class-B data held on the server), please press here:</p>
    <input type="button" class="reset" value="Reset!"></input>
  </div>

  <div class="t11-reset-account-done">
    <center><h2>Reset Account 4</h2></center>
    <p>Your account has been reset. All other devices have been disconnected. This device is now connected, and data will begin syncing momentarily.</p>
    <p>You must re-connect all other devices to allow them to resume syncing too.</p>
    <p>Be happy!</p>
  </div>

  <div class="t12-pair-start">
    <center><h2>Pair Devices</h2></center>
    <p>Your account has (0? 1? 2?) devices already connected. (1? 2?) of them are currently showing a confirmation message. Please click "OK" on one of them.</p>
  </div>
  <div class="side-t12-pair-start">
    <p>pretend this is one of your other devices</p>
    <p>click <input type="button" class="ok" value="OK"></input></p>
  </div>

  <div class="t13-pair-more">
    <center><h2>Pair Devices</h2></center>
    <p>Please type the following code into the input box on the other device:</p>
    <div><span class="code show-code"></span></div>
  </div>
  <div class="side-t13-pair-more">
    <p>pretend this is the other device</p>
    <p>type the code in here:</p>
    <div class="code-input">
      <span>Code: </span><input type="text" name="code" class="code focus"></input>
      <input type="button" class="go" value="Go!"></input>
    </div>
  </div>

  <div class="t14-pair-done">
    <center><h2>Pairing Complete</h2></center>
    <p>This device is now connected. Data will begin syncing momentarily.</p>
    <p>Be happy!</p>
  </div>

  <div class="t15-pair-wrong">
    <center><h2>Bad Code</h2></center>
    <p>It looks like that code was wrong. Don't you hate codes?</p>
    <p>Let's try again.</p>
    <!-- we will rate-limit the number of attempts. When this is in force,
    the button will be gray and a countdown timer will be shown until the block expires. The server enforces the limit, of course, but the client helps prevent surprises by stalling until it knows the limit has expired. -->
    <input type="button" class="again focus" value="Try again!"></input>
  </div>


</div>

</body>
</html>
